
/* ==========================================================================
   #Table-of-Contents
   ========================================================================== */
/*
  Globals
    #Colors
    #Typography
    #Utilities
  Sections
    #Header
    #Content
    #Footer
  #Pages / #Components
    #Tables
    #Modals
*/


/* ==========================================================================
   #Colors
   ========================================================================== */
    $default-text: #333;
    $dark-grey: #414141;
    $mid-grey: #6c757d;
    $tone-grey: #ced4da;
    $light-grey: #f5f5f5;
    $danger: #e60707; /* red */
    $warning: #ffc107; /* gold */
    $primary: #1ab394; /* teal */
    $accent: #007bff; /* blue */
    .btn-danger{
      background: $danger;
      border-color: $danger;
    }
    .btn-info{
      background: $primary;
      border-color: $primary;

      &:hover{
        background: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }
    }
    .btn-info:not(:disabled):not(.disabled).active,
    .btn-info:not(:disabled):not(.disabled):active,
    .show>.btn-info.dropdown-toggle{
      background: darken($primary, 15%);
      border-color: darken($primary, 15%);
    }
    ::placeholder{
      opacity: .6 !important;
    }


/* ==========================================================================
   #Typography
   ========================================================================== */
    body{
     color: $default-text;
    }


/* ==========================================================================
   #Utilities
   ========================================================================== */
    html{
      height: 100%;
    }
    body{
      /* height: 100%; */
      background: #eee;
    }
    .clear{
      display: block;
      width: 100%;
      clear: both;
      height: 0px;
    }
    .reset, .reset li{
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1em;
    }


/* ==========================================================================
   #Header
   ========================================================================== */
    .top-nav-bar{
      position: relative;
      z-index: 1;
      background: #1ab394;

      a{
        color: #fefefe;
      }
      .navbar{
        background: none;
        padding-right: 0;
      }
      .navbar-toggler{
        background: #fefefe;
        padding: 0 5px;
      }
      .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & > .row{
        margin: 0;
      }
      .navbar-brand{
        flex: 1;

        a:hover{
          text-decoration: none;
          text-shadow: 0 0 10px #000;
        }
      }
      .dropdown-menu{
        padding: 0;
        background: darken($primary, 15%);
        font-size: 1em;
        line-height: 1em;
        padding: 5px;
        width: auto;
        min-width: 0;

        .dropdown-item{
          font-size: .9em;
          line-height: 1em;
          padding: 5px 10px;;
          margin: 0 0 5px;
          border-radius: 2px;
          background: $primary;

          &:last-child{
            margin: 0;
          }
          &:hover{
            background: darken($primary, 5%);
            color: #fff;
          }
        }
      }
      .dropdown-toggle::after{
        display: none;
      }
      .profile-link-wrapper{
        position: relative;
      }
      .profile-link{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px 5px 5px !important;
        margin-left: 10px;

        .profile-link-image{
          margin: -10px 5px -10px 0;
          height: 35px;
          width: 35px;

          img{
            border-radius: 50%;
            border: 2px solid darken($primary, 15%);
            max-width: 100%;
          }
        } /* profile link image */
        .profile-link-username{
          font-size: 1.2em;
          line-height: 1em;
        }
      }
      .profile-link-icon{
        min-width: 20px;
        text-align: left;
      }
      .search-form{
        position: relative;

        .search-form-field{
          height: auto;
          line-height: 1em;
          border-radius: 40px;
          padding-right: 30px;
        }
        .search-form-button{
          color: $primary;
          background: none;
          border: none;
          position: absolute;
          right: 5px;
          cursor: pointer;

          &:hover{
            color: darken($primary, 10%);
          }
        }
      }


      @media only screen and (min-width: 768px)  {
        & > .row > .col-md-12{
          padding-left: 0;
          padding-right: 25px;
        }
      } /* (min-width: 768px)  */
      @media only screen and (max-width: 991px)  {
        & > .row > .col-md-12{
          padding-left: 25px;
        }
      } /* (max-width: 991px)  */
      @media only screen and (max-width: 575px)  {
        .navbar{
          /* flex-direction: row-reverse; */
          padding-left: 0;
          padding-right: 0;
        }
        & > .row > .col-md-12{
          padding-left: 0;
          padding-right: 0;
        }
        .navbar-brand{
          margin: 0;
          order: 1;
        }
        .profile-link-wrapper{
          order: 2;
        }
        .search-form{
          order: 3;
          width: 100%;
        }
        .profile-link{
          margin: 0;
        }
      } /* (max-width: 575px)  */
    } /* top nav bar */

    #toast-container>div{
      opacity: 1;
    }




/* ==========================================================================
   #Content
   ========================================================================== */
    .main-content{
      display: flex;
      flex-direction: column;
      height: calc(100% - 56px);
    }
    .main-content-row{
      height: 100%
    }
    .content{
      padding: 15px;
      flex: 1;
      padding-bottom: 50px;
    }

    .sidebar{
      background: #333;
      color: #fefefe;
      position: relative;
      z-index: 0;
      padding: 10px;
      min-height: 95vh;
      transition: max-width 0.2s ease;

      & .nav-list,
      & .nav-sublist{
        padding: 0;
        list-style: none;
        line-height: 1em;
      }

      a{
        color: #fff;
        &:hover{
          text-decoration: none;
          color: $primary;
        }
      }

      .nav-list li{
        margin: 0;
        padding: 0;
      }

      .nav-sublist{
        li{
          border-bottom: 1px solid #555;

          &:last-child{
            border: none;
          }
        }

        a{
          padding: 5px;
          display: block;
          font-size: .8em;
          text-indent: 45px;
        }
      } /* nav sublist */

      .heading{
        background: $dark-grey;
        display: block;
        position: relative;

        &:last-child{
          margin-bottom: 10px;
        }
      } /* heading */

      .heading-link{
        padding: 10px;
        display: block;
        color: #fff;
      }

      .heading-icon{
        width: 30px;
        text-align: center;
        margin-right: 5px;
      }

      .add-link{
        padding: 5px;
        line-height: 1em;
        font-size: 1em;
        position: absolute;
        top: 5px;
        right: 5px;
        background: $primary;
        border: none;

        &:hover{
          background: darken($primary, 20%);
        }
      } /* add link */
    } /* sidebar */

    .sidebar-open{
      overflow: hidden;
    }
    .sidebar-overlay{
      display: none;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      z-index: 10;
      opacity: .8;
      cursor: pointer;
    }
    .sidebar-open .sidebar-overlay{
      display: block;
    }
    @media only screen and (min-width: 1000px) {
      .sidebar{
        max-width: 200px;
      }
      .content{
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 1001px){
      .sidebar .nav-list li.open-link{
        display: none;
      }
    }

    @media only screen and (max-width: 1000px){
      .sidebar{
        max-width: 55px;
        overflow: hidden;
        white-space: nowrap;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        height: auto;
        max-height: none;
        margin: 0;

        .add-link{
          display: none;
        }
        .heading-label{
          display: none;
        }
        .heading-link{
          padding: 10px 5px;
          text-align: center;
        }
        .close-icon{
          display: none;
        }
        .heading-icon{
          text-align: center;
          width: auto;
          margin: 0;
        }

        &.open{
          max-width: 200px;

          .open-icon{
            display: none;
          }
          .close-icon{
            display: inline-block;
          }
          .heading-icon{
            width: 30px;
            text-align: center;
            margin-right: 5px;
          }
          .heading-label{
            display: inline;
            color: inherit;
          }
          .heading-link{
            text-align: left;
            padding: 10px;
          }
          .add-link{
            display: block;
          }
        } /* sidebar.open */
      } /* sidebar */

      .top-nav-bar{
        padding: 0 10px 0 65px;
      }
      .content{
        max-width: 100%;
        width: 100%;
        padding-left: 55px;
        padding-right: 0;
      }
      .main-content{
        padding: 0;
      }
      .main-content-row, .main-content-row .row{
        margin-left: 0;
        margin-right: 0;
      }
    } /* (max-width: 1000px) */

    .db-boxes-row{
      padding: 0 20px;
      justify-content: space-between;
    }
    .db-box{
      padding: 15px 20px;
      border-radius: 3px;
      border: 1px solid #ccc;
      background: #fff;
      height: 100%;
      -webkit-box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,.1);
      box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,.1);
      display: flex;
      flex-direction: column;
    }
    .db-box .heading{
      padding: 0 10px 0;
      margin: 0 0 20px;
      border-bottom: 3px solid #000;
      font-size: 1.5em;
    }
    .db-box .heading .button-area{
      float: right;
      margin-right: -10px;
      vertical-align: top;
      font-size: .9em;
    }
    .db-box .heading .button-area .task-sum{
      line-height: .7em;
      color: #999;
      margin-right: 5px;
      border-radius: 2px;
      padding: 5px;
      vertical-align: top;
      display: inline-block;
      position: relative;
      bottom: 1px;
      cursor: default;
    }
    .db-box .heading .button-area .task-sum .divider{
      display: inline-block;
      position: relative;
      bottom: 1px;
    }
    .db-box .heading .button-area .task-sum .overdue{
      color: #e60707;
    }
    .db-box .heading .button-area .badge{
      vertical-align: top;
      background: none;
      color: #1f2528;
    }
    .db-box .heading .button-area .badge:hover{
      background: #f5f5f5;
    }
    .db-box-list{
      margin: 0;
      padding: 0;
      list-style: none;
      /* columns: 2;
      column-width: 200px; */
      flex: 1;
    }
    .db-box-list li{
      padding: 0 0 5px;
      margin: 0 0 5px;
      border-bottom: 1px solid #ddd;
      break-inside: avoid;
      line-height: 1em;
      display: flex;
    }
    .db-box-list li .task-link{
      display: block;
      color: inherit;
      flex: 1;
      padding: 0;
      max-height: 60px;
      overflow: hidden;
      position: relative;
    }
    .db-box-list li .task-link.long{
      border-bottom: 1px dotted;
    }
    .db-box-list li .task-link-wrapper{
      padding: 10px 15px;
      border-radius: 5px;
      /* background: #ffe3ba; */
      display: flex;
      align-items: center;
      width: 100%;
    }
    .db-box-list li .task-link-arrow{
      padding: 5px 10px;
      font-size: 1.5em;
      color: inherit;
    }
    .db-box-list li .task-link-dropdown{
      display: flex;
      align-items: center;
      margin: -10px -15px -10px 0;
    }
    .db-box-list li .dropdown-toggle::after{
      margin: 0 auto;
      display: none;
    }
    .db-box-list li .task-link:hover{
      text-decoration: none;
    }
    .db-box-list li:hover .task-link-wrapper{
      background: #f5f5f5;
    }
    .db-box-list li.overdue .task-link-wrapper{
      color: #e60707;
      background: #f8d7da;
    }
    .db-box-list li.overdue:hover .task-link-wrapper{
      background: #f1bfc3;
    }
    .db-box-list li.warning .task-link-wrapper{
      color: #9a7403;
      background: #fff3cd;
    }
    .db-box-list li.warning:hover .task-link-wrapper{
      background: #efe1b7;
    }

    .edit-in-progress{
      border-radius: 0;
      height: auto;
      margin: -15px -15px 20px;
      z-index: 0;
    }
    .edit-in-progress .progress-bar .message{
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 0 0 #075190, 0 0 #075190, 0 0 5px #075190, 0 0 5px #075190, 0 0 5px #075190, 0 0 10px #075190;
      font-size: 1.2em;
    }

    .db-box-list .dropdown-menu{
      min-width: 100px;
      width: 100px;
      padding: 0;
      transform: translate3d(-28px, 35px, 0px) !important;
      border: 3px solid;
      border-color: #2c3036;
      background: #2c3036;
      margin-top: -3px;
    }
    .db-box-list .dropdown-menu::before{
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      z-index: 1;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #2c3036;
      margin: -8px auto 3px;
    }
    .db-box-list .dropdown-menu .btn-group{
      display: flex;
    }
    .db-box-list .dropdown-menu .btn-group > span{
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    .db-box-list .dropdown-menu .btn-group > span > button{
      font-size: 1.3em;
      width: 100%;
    }
    .db-box-list .dropdown-menu .btn-group > span:first-child > button{
      border-radius: .25rem 0 0 .25rem;
    }
    .db-box-list .dropdown-menu .btn-group > span:last-child > button{
      border-radius: 0 .25rem .25rem 0;
    }
    .db-box-list li .task-link-dropdown.show .task-link-arrow i{
      position: relative;
      font-family: "Font Awesome 5 Free";
    }
    .db-box-list li .task-link-dropdown.show .task-link-arrow i:after{
      content: "\f13a";
      font-weight: 900;
      display: block;
      width: 20px;
      height: 20px;
      margin: -19px auto 0;
      z-index: 1;
      text-align: center;
      font-size: .6em;
      font-family: "Font Awesome 5 Free";
      opacity: .5;
    }
    .db-box-list .dropdown-menu button.complete{
      background: #1ab394;
    }
    .db-box-list .dropdown-menu button.complete:hover{
      background: #0b9c7f;
    }

    .db-box-list .overdue .dropdown-menu{
      border-color: #bb3512;
      background: #bb3512;
    }
    .db-box-list .overdue .dropdown-menu::before{
      border-bottom-color: #bb3512;
    }
    .db-box-list .warning .dropdown-menu{
      border-color: #94741a;
      background: #94741a;
    }
    .db-box-list .warning .dropdown-menu::before{
      border-bottom-color: #94741a;
    }
    .cancel-link:hover{
      text-decoration: none;
    }
    .modal-header{
      background: #0586ff;
      color: #fff;
    }
    #complete-task-modal .modal-header{
      background: #1ab394;
      color: #fff;
    }
    #reschedule-task-modal .modal-header{
      background: #0586ff;
      color: #fff;
    }
    @media only screen and (min-width: 1200px)  {
      .modal-xl{
        max-width: 1140px;
      }
    } /* (max-width: 1200px)  */

    /* Images Carousel */
    #view-images .modal-header{
      background: $primary;
    }
    .images-carousel {
      .carousel-indicators{
        position: static;
        margin: 0;
        justify-content: space-between;
        height: 31.5vw;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 10px;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px)  {
          &{
            height: 280px;
            margin-top: 10px;
          }
        } /* (max-width: 767px)  */

        .thumbnail-item{
          padding: 10px;
          background: $light-grey;
          border-radius: 5px;
          margin: 0 0 10px;
          border: 1px solid $tone-grey;
          width: 48%;
          height: auto;
          text-indent: initial;
          box-sizing: border-box;
          opacity: 1;

          .title{
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 5px;
          }

          @media only screen and (min-width: 768px) and (max-width: 1100px)  {
            &{
              width: 100%;
            }
          } /* (max-width: 910px)  */

          @media only screen and (max-width: 767px)  {
            &{
              width: 32%;
            }
          } /* (max-width: 767px)  */

          @media only screen and (max-width: 500px)  {
            &{
              width: 48%;
            }
          } /* (max-width: 500px)  */

          &.active{
            background: $tone-grey;
            border: 2px solid $accent;
          }

          img{
            border-radius: 5px;
            border: 1px solid $tone-grey;
            cursor: pointer;
          }

        }
        .button-group{
          display: flex;

          a{
            flex: 1;
          }
        }
      }
    } /* images carousel */
    @media only screen and (min-width: 576px)  {
      .images-modal .modal-dialog {
        max-width: 80%;
      }
    } /* (min-width: 576px)  */



/* ==========================================================================
   #Pages
   ========================================================================== */

    /* #Login Page */
    .login-page{
      background: darken($primary, 15%);

      .content{
        padding: 10vw 5vw;
      }
      .db-box{
        padding: 20px;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
      }
      .db-boxes-row{
        flex-direction: column;
      }
      .top-nav-bar{
        padding: 0 20px;

        a{
          width: 100%;
          text-align: center;
          margin: 0;
          font-size: 2em;
        }
      }
      .btn{
        background: #44A08D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, $primary, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, $primary, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        &:hover{
          background: darken(#44A08D, 10%);  /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, darken($primary, 10%), darken(#44A08D, 10%));  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, darken($primary, 10%), darken(#44A08D, 10%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-color: darken($primary, 10%);
        }
      } /* btn */
      .tagline{
        background: none;
        padding: 20px 25px;
        margin: 30px auto 0;
        font-weight: bold;
        line-height: 1.2em;
        font-size: 5.5vw;
        font-family: Bookman;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 2px #000;
        position: relative;
        overflow: hidden;
        border-color: $primary;
        opacity: .5;

        &:hover{
          opacity: 1;
        }

        @media only screen and (min-width: 500px)  {
          &{
            font-size: 1.6rem;
          }
        } /* (min-width: 500px)  */

        &::before, &::after{
          text-shadow: none;
          position: absolute;
          font-size: 9rem;
          line-height: .9em;
          display: block;
          height: 60px;
          font-family: Georgia;
          opacity: .2;
          z-index: -1;
          color: $primary;
        }
        &::before{
          content: '“';
          top: -12px;
          left: -7px;
        }
        &::after{
          content: '”';
          bottom: -12px;
          right: -6px;
        }
      } /* tagline */
    }


/* ==========================================================================
   #Components
   ========================================================================== */
    .btn-primary.btn-green{
      background: #02a792;
      border-color: #02a792;
    }
    .btn-primary.btn-green:not(:disabled):not(.disabled):active, .btn-primary.btn-green:hover{
      background-color: #00bea6;
      border-color: #00bea6;
    }
    .btn-primary.btn-green:focus, .btn-primary.btn-green:not(:disabled):not(.disabled):active:focus{
      box-shadow: 0 0 0 0.2rem rgba(0, 190, 166, .5);
    }
    .switch-link{
      background: none;
      border: none;
      color: #1c7be0;
      padding: 10px 0;
      margin: 0;
      margin-right: auto !important;
      font-size: .9em;
      line-height: 1.2em;
      cursor: pointer;
      text-align: left;
    }
    .switch-link:hover{
      color: #008ffa;
    }

    .db-box .pagination{
      justify-content: center;
      margin: 15px 0 -5px;
    }
    .db-box .pagination a{
      color: #2c3036;
    }
    .db-box .pagination .arrow-item a span{
      font-size: 1.3em;
      line-height: 1em;
    }
    .form-group:last-child{
      margin-bottom: 0;
    }
    .form-group{
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 1rem;
    }
    .form-group:last-child{
      border: none;
      padding-bottom: 0;
    }
    label{
      margin-bottom: 0;
      line-height: 1em;
      font-weight: bold;
    }
    .form-group.flexed{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .form-group.flexed > label{
      margin: 0 10px 0 0;
    }
    .form-group.flexed > .input-group, .form-group.flexed > .form-control{
      flex:1;
    }
    form span.required{
      color: #008ffa;
      font-weight: bold;
      margin-left: -3px;
    }
    form span.optional{
      font-style: italic;
      font-size: .9em;
    }
    .input-group-text{
      height: 100%;
    }

    #task-quick-reschedule{
      min-width: 80px;
    }
    .task-form-container{
      padding: 0;
    }
    .task-form > div:first-child{
      border-right: 1px solid #e4e4e4;
    }

    .form-control.money{
      text-align: right;
    }
    .task-balance-amount-group{
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e4e4e4;
    }

    .task-details{
      background: repeating-linear-gradient(
        -55deg,
        #f9f9f9,
        #f9f9f9 10px,
        #fff 10px,
        #fff 20px
      );
      margin: -1rem 0;
      padding: 1rem;
    }

    .db-info-bar-row{
      padding: 0 20px;
      margin-bottom: 20px;
    }
    .db-info-bar-box{
      border: 3px solid #999;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .db-info-bar-box .label{
      background: #999;
      height: 100%;
      color: #fff;
      text-transform: uppercase;
      font-family: Impact;
      font-size: 1em;
      line-height: 1.1em;
      padding: 10px;
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .db-info-bar-box .text{
      font-size: 3em;
      line-height: 1em;
      font-weight: bold;
      color: #999;
      padding: 0px 10px 2px;
      min-width: 65px;
    }
    @media only screen and (max-width: 1135px) {
      .db-info-bar-box{
        display: block;
        height: auto;
      }
      .db-info-bar-box .label{
        min-height: 55px;
      }
    }
    @media only screen and (max-width: 767px){
      .db-info-bar-box{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .db-info-bar-box .label{
        flex: 2;
      }
      .db-info-bar-box .text{
        flex: 1;
      }
    } /* (max-width: 767px) */

    @media only screen and (max-width: 585px){
      .db-info-bar-box{
        flex-direction: column;
      }
      .db-info-bar-box .label{
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .db-info-bar-box > *{
        width: 100%;
      }
    } /* (max-width: 585px) */
    @media only screen and (max-width: 585px) and (min-width: 431px){
      .db-info-bar-box .label{
        min-height: 0;
      }
    }

    @media only screen and (max-width: 430px){
      .db-info-bar-box{
        flex-direction: row;
        padding: 0 !important;
      }
      .db-info-bar-row > *{
        min-width: 100%;
        padding: 0 5px 0;
      }

    } /* (max-width: 430px) */


    /* Tenant Table */
    .data-table{
      text-align: center;
      font-size: 14px;
      line-height: 1.2em;
      border-radius: 5px;
      overflow: hidden;
      /* word-wrap: break-word; */
    }
    .table-wrapper table.dataTable{
      border-collapse: collapse !important;
    }
    .data-table.table thead th{
      background: #414141;
      color: #fff;
    }
    .data-table.table tbody td{
      vertical-align: middle;
    }
    .data-table.table tbody td.street-address,
    .data-table.table tbody td.name{
      text-align: left;
    }
    .data-table.table tbody td.name{
      min-width: 150px;
    }
    .data-table tbody tr{
      border-left: 10px solid #e4e8eb;
      border-right: 10px solid #e4e8eb;
    }
    .data-table tbody tr.status-2{
      border-left: 10px solid #ffc107;
      border-right: 10px solid #ffc107;
    }
    .data-table.table-bordered tbody tr:last-child td{
      border-bottom: 6px solid #e4e8eb;
    }
    .data-table .date{
      text-transform: uppercase;
    }
    .data-table .date-readable{
      display: inline-block;
      font-style: italic;
      font-size: .9em;
      line-height: 1em;
      color: #80888f;
      margin: 5px 0 0;
    }
    .dataTables_wrapper > .row:first-child > div{
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0;

      &:first-child{
        text-align: left !important;
        padding: 0 !important;
      }
      &:last-child{
        text-align: right !important;
        padding-right: 0;
      }
    }
    div.dataTables_wrapper div.dataTables_length{
      text-align: left !important;
    }
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_filter label{
      text-align: right !important;
    }
    table.dataTable td, table.dataTable th{
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
    }
    table.dataTable>tbody>tr.status-2+tr.child{
      border-color: $warning;
      background: lighten($warning, 45%);

      &:hover{
        background: lighten($warning, 45%) !important;
      }
    }
    .data-table .view-link{
      line-height: 1em;

      i{
        font-size: 1.5em;
      }
    }



    .contact-button{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .contact-button a.btn{
      width: 100%;
      background: none;
      color: inherit;
      text-align: left;
      overflow: hidden;
      flex: 1;
      max-width: 170px;
      white-space: nowrap;
    }
    .contact-button .dropdown-toggle{
      flex: none;
    }
    .contact-button .dropdown-menu{
      /* width: 100%; */
      padding: 5px;
      background: #545b62;
      color: #fff;
    }
    .contact-button i{
      margin-right: .5em;
    }
    .contact-button .dropdown-item{
      padding: .5em;
      border-radius: 3px;
    }
    .contact-button a.dropdown-item{
      color: #fff;
    }
    .contact-button .dropdown-item:hover{
      background: #80888f;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
      top: auto !important;
    }
    table.dataTable>tbody>tr.child ul.dtr-details{
      display: block;
      width: 100%;
      text-align: left;
    }

    @media only screen and (max-width: 600px)  {
      table.dataTable>tbody>tr.child li[data-dt-column="2"] span.dtr-title,
      table.dataTable>tbody>tr.child li[data-dt-column="3"] span.dtr-title,
      table.dataTable>tbody>tr.child li[data-dt-column="8"] span.dtr-title{
        display: block;
      }
      table.dataTable>tbody>tr.child li:last-child .btn{
        display: block;
      }

      div.dataTables_wrapper div.dataTables_filter input{
        width: 148px !important;
      }
      table.dataTable.dtr-inline.collapsed>tbody>tr>td.child{
        /* padding: 5px; */
        max-width: 100px;
      }
      .contact-button > a.btn{
        max-width: 100%;
      }
    } /* (max-width: 600px)  */

    @media only screen and (max-width: 577px)  {
      div.dataTables_wrapper div.dataTables_filter input{
        width: auto !important;
      }

      .dataTables_wrapper > .row:first-child > div{
        max-width: 100%;
        width: 100%;
        margin: 0 0 5px;
        display: block;
        flex: none;
      }
      div.dataTables_wrapper div.dataTables_length{
        text-align: center !important;
      }
      div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_filter label{
        text-align: center !important;
      }
      div.dataTables_wrapper div.dataTables_filter input{
        margin: 0 auto !important;
        width: 100% !important;
        display: block !important;
      }
      div.dataTables_wrapper div.dataTables_filter label{
        width: 98%;
      }


    } /* (max-width: 577px)  */

    @media only screen and (max-width: 320px)  {
      table.dataTable>tbody>tr.child li:last-child span.dtr-title{
        display: none;
      }
    }

    @media only screen and (max-width: 767px)  {
      div.table-responsive>div.dataTables_wrapper>div.row:last-child>div{
        padding: 0;
      }
      .dataTables_info{
        padding-top: 0 !important;
      }
      div.table-responsive>div.dataTables_wrapper>div.row:last-child .pagination{
        justify-content: center;
      }
    } /* (max-width: 767px)  */

    @media only screen and (max-width: 850px){
      table.data-table tr{
        max-width: 49%;
      }
      .db-boxes-row{
        flex-direction: column;
      }
      .db-boxes-row > *{
        max-width: 100%;
        margin-bottom: 20px;
      }
    } /* (max-width: 850px) */

    @media only screen and (max-width: 660px){
      table.data-table tr{
        max-width: 300px;
        margin: 0 auto 10px;
      }
      table.data-table tbody{
        flex-direction: column;
      }
    }

    @media only screen and (min-width: 576px){

    } /* (min-width: 576px) */

    @media only screen and (max-width: 430px){
      table.data-table tr{
        max-width: 100%;
      }
      .db-boxes-row{
        padding: 0 10px;
      }
      .db-box{
        padding: 5px 10px;
      }
      .d-block-small{
        float: none;
        display: block;
        width: 100%;
      }
      .db-box .pagination li:nth-child(6),
      .db-box .pagination li:nth-child(7){
        display: none;
      }
      .db-box .pagination{
        margin: 15px 0 5px;
      }
      .db-info-bar-row{
        margin-bottom: 0;
      }
    } /* (max-width: 660px) */

    /* Profile */
    .profile-wrapper{
      margin-top: 30px;
      padding-bottom: 20px;
    }
    .profile-head .subhead{
      padding: 5px 20px;
      background: #414141;
      border-radius: 5px;
      color: #fff;

      @media only screen and (max-width: 575px)  {
        &{
          position: sticky;
          top: 0;
          padding: 5px;
          margin-left: -10px;
          margin-right: -10px;
          z-index: 2;
          border-radius: 0;
        }
      } /* (max-width: 567px)  */
    }
    .profile-head .heading{
      margin: 0;
      border: none;
      padding: 0;

      input{
        font-size: 1em;
        font-weight: bold;
      }
    }
    .has-error{
      border-color: red;
    }
    .profile-heading.heading{
      padding: 0 10px;
    }
    .profile-wrapper .profile-image{
      width: 100%;
      max-width: 100%;
      border: .5rem solid #414141;
      border-radius: 20px;
      margin-top: -60px;
      position: relative;

      img{
        max-width: 100%;
        border-radius: 10px;
      }
      a{
        display: block;
      }
      span{

      }
    }
    .profile-row{
      padding: 0 20px;
    }
    .profile-wrapper .form-group{
      margin-top: 1rem;
    }
    .profile-image-col{
      background: #f5f5f5;
      border-radius: 0 0 20px 20px;
      padding-bottom: 1.1rem;
    }
    .profile-wrapper .heading.divider{
      margin: 40px 0 0;
      background: #414141;
      color: #fff;
      padding: .5rem;
      border-radius: 5px;
      font-size: 16px;
    }
    .profile-image-updater{
      background: #414141;
      border-radius: 0 0 20px 20px;
      margin: -1.5rem 0 0;
      padding: .5rem;
      color: #fff;
      z-index: 0;

      a{
        border-radius: 10px;
        white-space: normal;
        line-height: 1.2em;
      }
    }
    .profile-image{
      z-index: 1;
      position: relative;
    }
    .profile-tabs .nav{
      margin: 20px 0 0;
      justify-content: space-between;
    }
    .profile-tabs .nav-item{
      margin: 0 0 5px;
      background: #e9ecef;
      border: 1px solid $tone-grey;
      color: #414141;
      max-width: 32%;
      padding: .2rem .5rem;
    }
    .profile-tabs.associated .nav-item{
      max-width: 49%;
    }
    .profile-tabs .nav-pills .nav-link.active,
    .profile-tabs .nav-pills .show>.nav-link{
      background: #414141;
    }
    .profile-tabs-content{
      padding: 0 1rem 1rem;
      border: 1px solid $tone-grey;
      border-radius: 5px;
    }

    @media only screen and (max-width: 575px){
      .page-heading{
        font-size: 1.5rem;
        text-align: center;
      }
      .profile-wrapper .profile-image{
        margin-top: 5px;
      }
      .profile-row,
      .profile-row > *,
      .profile-head .subhead > *{
        padding-left: 5px;
        padding-right: 5px;
      }
      .profile-wrapper{
        margin-top: 10px;
      }
      .button-set{
        float: none!important;
      }
      .button-set .btn{
        width: 100%;
        margin-bottom: 5px;
      }
      .profile-detail-col > .row > *{
        padding-left: 0;
        padding-right: 0;
      }
    } /* (max-width: 575px) */
    @media only screen and (min-width: 767px) and (max-width: 1200px){
      .profile-wrapper .input-group-append{
        display: none !important;
      }
    } /* (max-width: 767px) */

    @media only screen and (max-width: 767px){
      #assoc-hide-tab-button{
        max-width: 34px;
      }
      .note-item .timeago{
        float: none !important;
        margin: 0 0 5px;
        display: block;
      }
      .note-item .author{
        display: block;
        margin: 0;
      }
    } /* (max-width: 767px) */


    .assoc-list{
      margin-top: 1rem;
    }
    .assoc-list-link{
      display: block;
      padding: 5px 10px;
      border-radius: 3px;
      background: #e9ecef;
      margin-bottom: 5px;
      color: #212529;
      font-weight: bold;
      border: 1px solid $tone-grey;
    }
    .assoc-list-item:last-child .assoc-list-link{
      margin-bottom: 0;
    }
    .assoc-list-link:hover{
      text-decoration: none;
    }

    .notes-list{
      margin-top: 1rem;
    }
    .note-item{
      padding: 1rem;
      background: #f5f5f5;
      border-radius: 5px;
      position: relative;
    }
    .notes-list .notes-list-item{
      margin-bottom: 10px;
    }
    .notes-list .notes-list-item:last-child{
      margin-bottom: 0;
    }
    .note-item .author{
      display: inline-block;
    }
    .note-item .text{
      line-height: 1.2em;
      display: block;
    }
    .note-item .timeago{
      font-style: italic;
      font-size: .9em;
    }
    .user-image{
      border-radius: 3px;
      margin-top: 3px;
    }
    .notes-button-set{
      margin-left: 10px;

      .notes-button{
        max-width: 30px;
        margin-bottom: 5px;
      } /* notes button */

      @media only screen and (max-width: 767px)  {
        &{
          margin: 0;
          position: absolute;
          left: 25px;
          top: 75px;
        }
      } /* (max-width: 767px)  */
    } /* notes button set */
    .breadcrumb{
      padding: 5px 10px;
      background: $light-grey;
      margin: -15px -20px 5px;
      border-radius: 0;
      border-bottom: 1px solid #eee;
    }
    .breadcrumb-item+.breadcrumb-item::before{
      content: '»';
      opacity: .5;
    }

    .documents-container{
      padding-top: 10px;

      .document-item{
        width: 110px;
        background: #e9ecef;
        border-radius: 5px;
        text-align: center;
        border: 1px solid $tone-grey;
        position: relative;

        &:hover{
          border-color: $dark-grey;
        }

        &::before{
          content: '';
          width: 20px;
          height: 20px;
          background: $tone-grey;
          position: absolute;
          top: 0px;
          right: 0px;
          display: none;
        }

        .title{
          padding: 5px;
          font-size: 1em;
          margin: 0;
          line-height: 1em;
          font-weight: bold;
        } /* document title */
        .icon{
          font-size: 3em;
          line-height: 1em;
          padding-bottom: 5px;
        }
        .link{
          color: inherit;
          &:hover{
            text-decoration: none;
            color: inherit;
          }
        }
        .button-group{
          background: $tone-grey;
          padding: 5px 0 4px;
          font-size: 1em;
          text-align: center;
          line-height: 1em;

          .btn{
            padding: 0.1em 0.4em;
          }
        }
      } /* document item */


    } /* documents container */
