html{
  height: 100%;
}
body{
  /* height: 100%; */
  background: #eee;
}
.clear{
  display: block;
  width: 100%;
  clear: both;
  height: 0px;
}
.reset, .reset li{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
}


.top-nav-bar{
  position: relative;
  z-index: 1;
}
.top-nav-bar, .top-nav-bar .navbar{
  background: #1ab394;
}
.navbar-toggler-icon i{
  line-height: 30px;
}
.top-nav-bar a{
  color: #fefefe;
}
.top-nav-bar .navbar-toggler{
  background: #fefefe;
}

.main-content{
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}
.main-content-row{
  height: 100%
}
.sidebar{
  background: #333;
  color: #fefefe;
  position: relative;
  z-index: 0;
  padding: 10px;
  min-height: 95vh;
}
.sidebar .nav-list, .sidebar .nav-sublist{
  padding: 0;
  list-style: none;
  line-height: 1em;
}
.sidebar .nav-list li{
  margin: 0;
  padding: 0;
}
.sidebar .nav-sublist li{
  border-bottom: 1px solid #555;
}
.sidebar .nav-sublist li:last-child{
  border:none;
}
.sidebar .nav-list .heading{
  background: #505050;
  display: block;
  padding: 10px;
}
.sidebar .nav-list .heading:last-child{
  margin-bottom: 10px;
}
.sidebar .nav-list a{
  display: block;
  padding: 10px 15px;
  line-height: 1em;
  color: #fff;
  font-size: .8em;
  padding-left: 50px;
}
.sidebar .nav-list a.heading{
  font-size: 1em;
}
.sidebar .nav-list .heading i{
  width: 30px;
  text-align: center;
  margin-right: 5px;
}
.content{
  padding: 15px;
  flex: 1;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1251px) {
  .sidebar{
    max-width: 250px;
  }
  .content{
    max-width: 100%;
  }
}



.db-boxes-row{
  padding: 0 20px;
  justify-content: space-between;
}
.db-box{
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,.1);
  box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
}
.db-box .heading{
  padding: 0 10px 0;
  margin: 0 0 20px;
  border-bottom: 3px solid #000;
  font-size: 1.5em;
}
.db-box .heading .button-area{
  float: right;
  margin-right: -10px;
  vertical-align: top;
  font-size: .9em;
}
.db-box .heading .button-area .task-sum{
  line-height: .7em;
  color: #999;
  margin-right: 5px;
  border-radius: 2px;
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  bottom: 1px;
  cursor: default;
}
.db-box .heading .button-area .task-sum .divider{
  display: inline-block;
  position: relative;
  bottom: 1px;
}
.db-box .heading .button-area .task-sum .overdue{
  color: #e60707;
}
.db-box .heading .button-area .badge{
  vertical-align: top;
  background: none;
  color: #1f2528;
}
.db-box .heading .button-area .badge:hover{
  background: #f5f5f5;
}
.db-box-list{
  margin: 0;
  padding: 0;
  list-style: none;
  /* columns: 2;
  column-width: 200px; */
  flex: 1;
}
.db-box-list li{
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px solid #ddd;
  break-inside: avoid;
  line-height: 1em;
  display: flex;
}
.db-box-list li .task-link{
  display: block;
  color: inherit;
  flex: 1;
  padding: 0;
  max-height: 60px;
  overflow: hidden;
  position: relative;
}
.db-box-list li .task-link.long{
  border-bottom: 1px dotted;
}
.db-box-list li .task-link-wrapper{
  padding: 10px 15px;
  border-radius: 5px;
  /* background: #ffe3ba; */
  display: flex;
  align-items: center;
  width: 100%;
}
.db-box-list li .task-link-arrow{
  padding: 5px 10px;
  font-size: 1.5em;
  color: inherit;
}
.db-box-list li .task-link-dropdown{
  display: flex;
  align-items: center;
  margin: -10px -15px -10px 0;
}
.db-box-list li .dropdown-toggle::after{
  margin: 0 auto;
  display: none;
}
.db-box-list li .task-link:hover{
  text-decoration: none;
}
.db-box-list li:hover .task-link-wrapper{
  background: #f5f5f5;
}
.db-box-list li.overdue .task-link-wrapper{
  color: #e60707;
  background: #f8d7da;
}
.db-box-list li.overdue:hover .task-link-wrapper{
  background: #f1bfc3;
}
.db-box-list li.warning .task-link-wrapper{
  color: #9a7403;
  background: #fff3cd;
}
.db-box-list li.warning:hover .task-link-wrapper{
  background: #efe1b7;
}

.edit-in-progress{
  border-radius: 0;
  height: auto;
  margin: -15px -15px 20px;
  z-index: 0;
}
.edit-in-progress .progress-bar .message{
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 #075190, 0 0 #075190, 0 0 5px #075190, 0 0 5px #075190, 0 0 5px #075190, 0 0 10px #075190;
  font-size: 1.2em;
}

.db-box-list .dropdown-menu{
  min-width: 100px;
  width: 100px;
  padding: 0;
  transform: translate3d(-28px, 35px, 0px) !important;
  border: 3px solid;
  border-color: #2c3036;
  background: #2c3036;
  margin-top: -3px;
}
.db-box-list .dropdown-menu::before{
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  z-index: 1;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2c3036;
  margin: -8px auto 3px;
}
.db-box-list .dropdown-menu .btn-group{
  display: flex;
}
.db-box-list .dropdown-menu .btn-group > span{
  flex: 1;
  align-items: center;
  justify-content: center;
}
.db-box-list .dropdown-menu .btn-group > span > button{
  font-size: 1.3em;
  width: 100%;
}
.db-box-list .dropdown-menu .btn-group > span:first-child > button{
  border-radius: .25rem 0 0 .25rem;
}
.db-box-list .dropdown-menu .btn-group > span:last-child > button{
  border-radius: 0 .25rem .25rem 0;
}
.db-box-list li .task-link-dropdown.show .task-link-arrow i{
  position: relative;
  font-family: "Font Awesome 5 Free";
}
.db-box-list li .task-link-dropdown.show .task-link-arrow i:after{
  content: "\f13a";
  font-weight: 900;
  display: block;
  width: 20px;
  height: 20px;
  margin: -19px auto 0;
  z-index: 1;
  text-align: center;
  font-size: .6em;
  font-family: "Font Awesome 5 Free";
  opacity: .5;
}
.db-box-list .dropdown-menu button.complete{
  background: #1ab394;
}
.db-box-list .dropdown-menu button.complete:hover{
  background: #0b9c7f;
}

.db-box-list .overdue .dropdown-menu{
  border-color: #bb3512;
  background: #bb3512;
}
.db-box-list .overdue .dropdown-menu::before{
  border-bottom-color: #bb3512;
}
.db-box-list .warning .dropdown-menu{
  border-color: #94741a;
  background: #94741a;
}
.db-box-list .warning .dropdown-menu::before{
  border-bottom-color: #94741a;
}

#complete-task-modal .modal-header{
  background: #1ab394;
  color: #fff;
}
#reschedule-task-modal .modal-header{
  background: #0586ff;
  color: #fff;
}

.btn-primary.btn-green{
  background: #02a792;
  border-color: #02a792;
}
.btn-primary.btn-green:not(:disabled):not(.disabled):active, .btn-primary.btn-green:hover{
  background-color: #00bea6;
  border-color: #00bea6;
}
.btn-primary.btn-green:focus, .btn-primary.btn-green:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem rgba(0, 190, 166, .5);
}
.switch-link{
  background: none;
  border: none;
  color: #1c7be0;
  padding: 10px 0;
  margin: 0;
  margin-right: auto !important;
  font-size: .9em;
  line-height: 1.2em;
  cursor: pointer;
  text-align: left;
}
.switch-link:hover{
  color: #008ffa;
}

.db-box .pagination{
  justify-content: center;
  margin: 15px 0 -5px;
}
.db-box .pagination a{
  color: #2c3036;
}
.db-box .pagination .arrow-item a span{
  font-size: 1.3em;
  line-height: 1em;
}

.form-group:last-child{
  margin-bottom: 0;
}
.form-group{
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1rem;
}
.form-group:last-child{
  border: none;
  padding-bottom: 0;
}
label{
  margin-bottom: 0;
  line-height: 1em;
  font-weight: bold;
}
.form-group.flexed{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-group.flexed > label{
  margin: 0 10px 0 0;
}
.form-group.flexed > .input-group, .form-group.flexed > .form-control{
  flex:1;
}
form span.required{
  color: #008ffa;
  font-weight: bold;
  margin-left: -3px;
}
form span.optional{
  font-style: italic;
  font-size: .9em;
}
.input-group-text{
  height: 100%;
}

#task-quick-reschedule{
  min-width: 80px;
}
.task-form-container{
  padding: 0;
}
.task-form > div:first-child{
  border-right: 1px solid #e4e4e4;
}

.form-control.money{
  text-align: right;
}
.task-balance-amount-group{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e4e4;
}

.task-details{
  background: repeating-linear-gradient(
    -55deg,
    #f9f9f9,
    #f9f9f9 10px,
    #fff 10px,
    #fff 20px
  );
  margin: -1rem 0;
  padding: 1rem;
}

.db-info-bar-row{
  padding: 0 20px;
  margin-bottom: 20px;
}
.db-info-bar-box{
  border: 3px solid #999;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.db-info-bar-box .label{
  background: #999;
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: Impact;
  font-size: 1em;
  line-height: 1.1em;
  padding: 10px;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.db-info-bar-box .text{
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
  color: #999;
  padding: 0px 10px 2px;
  min-width: 65px;
}
@media only screen and (max-width: 1135px) {
  .db-info-bar-box{
    display: block;
    height: auto;
  }
  .db-info-bar-box .label{
    min-height: 55px;
  }
}
@media only screen and (max-width: 767px){
  .db-info-bar-box{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .db-info-bar-box .label{
    flex: 2;
  }
  .db-info-bar-box .text{
    flex: 1;
  }
} /* (max-width: 767px) */

@media only screen and (max-width: 585px){
  .db-info-bar-box{
    flex-direction: column;
  }
  .db-info-bar-box .label{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .db-info-bar-box > *{
    width: 100%;
  }
} /* (max-width: 585px) */
@media only screen and (max-width: 585px) and (min-width: 431px){
  .db-info-bar-box .label{
    min-height: 0;
  }
}

@media only screen and (max-width: 430px){
  .db-info-bar-box{
    flex-direction: row;
    padding: 0 !important;
  }
  .db-info-bar-row > *{
    min-width: 100%;
    padding: 0 5px 0;
  }

} /* (max-width: 430px) */

/* Tenant Table */
.tenant-table{
  text-align: center;
  font-size: 14px;
  line-height: 1.2em;
  border-radius: 5px;
  overflow: hidden;
}
.tenant-table.table thead th{
  background: #414141;
  color: #fff;
}
.tenant-table.table tbody td{
  vertical-align: middle;
}
.tenant-table.table tbody td.street-address,
.tenant-table.table tbody td.name{
  text-align: left;
}
.tenant-table.table tbody td.name{
  min-width: 150px;
}
.tenant-table tbody tr{
  border-left: 10px solid #e4e8eb;
  border-right: 10px solid #e4e8eb;
}
.tenant-table tbody tr.status-2{
  border-left: 10px solid #ffc107;
  border-right: 10px solid #ffc107;
}
.tenant-table.table-bordered tbody tr:last-child td{
  border-bottom: 6px solid #e4e8eb;
}
.tenant-table .date{
  text-transform: uppercase;
}
.tenant-table .date-readable{
  display: block;
  font-style: italic;
  font-size: .9em;
  line-height: 1em;
  color: #80888f;
  margin: 5px 0 0;
}

.contact-button{
  width: 100%;
  display: flex;
}
.contact-button a.btn{
  width: 100%;
  background: none;
  color: inherit;
  text-align: left;
  overflow: hidden;
  flex: 1;
  max-width: 170px;
}
.contact-button .dropdown-menu{
  /* width: 100%; */
  padding: 5px;
  background: #545b62;
  color: #fff;
}
.contact-button i{
  margin-right: .5em;
}
.contact-button .dropdown-item{
  padding: .5em;
  border-radius: 3px;
}
.contact-button a.dropdown-item{
  color: #fff;
}
.contact-button .dropdown-item:hover{
  background: #80888f;
}
@media only screen and (max-width: 1300px){
  .tenant-table.table tbody td.name{
    min-width: 0;
  }
} /* (max-width: 1300px) */

@media only screen and (max-width: 1435px) and (min-width: 1250px){
  table.tenant-table .created-on,
  table.tenant-table .updated-on{
    display: none;
  }
} /* (max-width: 1435px) and (min-width: 1250px) */

@media only screen and (max-width: 1251px){
  table.tenant-table,
  table.tenant-table thead,
  table.tenant-table tbody,
  table.tenant-table th,
  table.tenant-table tr,
  table.tenant-table td{
    display: block;
  }
  table.tenant-table tbody{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  table.tenant-table tbody::after {
    content: "";
    flex: 1;
    max-width: 33%;
  }
  table.tenant-table tr{
    max-width: 33%;
    margin-bottom: 10px;
    border: 5px solid #555;
    text-align: left;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .table-striped tbody tr:nth-of-type(odd),
  .table-striped tbody tr:nth-of-type(even){
    background: #fff;
  }
  table.tenant-table tr td{
    width: 100%;
  }
  table.tenant-table tr td.created-on{
    flex: 1;
  }
  table.tenant-table tr td.updated-on{
    flex: 2;
  }
  table.tenant-table thead,
  table.tenant-table .id{
    display: none;
  }
  table.tenant-table .name{
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
  }
  table.tenant-table .view-button .btn{
    width: 100%;
  }

  table.tenant-table .street-address::before{
    content: 'Street Address: ';
    width: 100%;
  }
  table.tenant-table .city::before{
    content: 'City: ';
  }
  table.tenant-table .state::before{
    content: 'State: ';
  }
  table.tenant-table .zip::before{
    content: 'Zip: ';
  }
  table.tenant-table .created-on::before{
    content: 'Created: ';
    width: 100%;
  }
  table.tenant-table .updated-on::before{
    content: 'Updated: ';
    width: 100%;
  }
  .tenant-table tbody tr.status-2{
    border: 5px solid #ffc107;
  }
  .tenant-table.table-bordered tbody tr:last-child td{
    border-bottom: 1px solid #dee2e6;
  }
  table.tenant-table td::before{
    font-weight: bold;
  }
  table.tenant-table td.updated-on::before,
  table.tenant-table td.street-address::before{
    display: block;
  }
  table.tenant-table td.city,
  table.tenant-table td.state,
  table.tenant-table td.zip{
    display: flex;
  }
  table.tenant-table td.city::before,
  table.tenant-table td.state::before,
  table.tenant-table td.zip::before{
    max-width: 50px;
    padding-right: 5px;
    flex: 1;
  }

  .contact-button a.btn{
    max-width: none;
  }
} /* (max-width: 1251px) */

@media only screen and (min-width: 1001px){
  .sidebar .nav-list li.open-link{
    display: none;
  }
}

@media only screen and (max-width: 1000px){
  .sidebar{
    max-width: 55px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .sidebar > ul > li:first-child ~ li{
    opacity: 0;
    pointer-events: none;
  }
  .content{
    max-width: 100%;
    width: 100%;
    padding-left: 55px;
    padding-right: 0;
  }
  .sidebar .nav-list li.open-link a{
    color: transparent;
  }
  .sidebar .nav-list li.open-link a i{
    color: #fff;
  }
  .sidebar.open .nav-list li.open-link a{
    color: inherit;
  }
  .sidebar .nav-list li.open-link a i.close-icon{
    display: none;
  }
  .sidebar.open .nav-list li.open-link a i.open-icon{
    display: none;
  }
  .sidebar.open .nav-list li.open-link a i.close-icon{
    display: inline-block;
  }
  .sidebar.open .nav-list li.open-link a i.close-icon{
    width: 30px;
    text-align: center;
    margin-right: 5px;
  }
  .sidebar .nav-list li.open-link a i{
    text-align: center;
    width: auto;
    margin: 0;
  }
  .sidebar.open{
    max-width: 25%;
  }
  .sidebar.open > ul > li:first-child ~ li{
    opacity: 1;
    pointer-events: auto;
  }
  .main-content{
    padding: 0;
  }
  .main-content-row, .main-content-row .row{
    margin-left: 0;
    margin-right: 0;
  }
} /* (max-width: 1000px) */

@media only screen and (max-width: 850px){
  table.tenant-table tr{
    max-width: 49%;
  }
  .db-boxes-row{
    flex-direction: column;
  }
  .db-boxes-row > *{
    max-width: 100%;
    margin-bottom: 20px;
  }
} /* (max-width: 850px) */

@media only screen and (max-width: 660px){
  table.tenant-table tr{
    max-width: 300px;
    margin: 0 auto 10px;
  }
  table.tenant-table tbody{
    flex-direction: column;
  }
}

@media only screen and (min-width: 576px){

} /* (min-width: 576px) */

@media only screen and (max-width: 430px){
  table.tenant-table tr{
    max-width: 100%;
  }
  .db-boxes-row{
    padding: 0 10px;
  }
  .db-box{
    padding: 5px 10px;
  }
  .d-block-small{
    float: none;
    display: block;
    width: 100%;
  }
  .db-box .pagination li:nth-child(6),
  .db-box .pagination li:nth-child(7){
    display: none;
  }
  .db-box .pagination{
    margin: 15px 0 5px;
  }
  .db-info-bar-row{
    margin-bottom: 0;
  }
} /* (max-width: 660px) */

/* Profile */
.profile-wrapper{
  margin-top: 30px;
  padding-bottom: 20px;
}
.profile-head .subhead{
  padding: 5px 20px;
  background: #414141;
  border-radius: 5px;
  color: #fff;
}
.profile-head .heading{
  margin: 0;
  border: none;
  padding: 0;
}
.profile-wrapper .profile-image img{
  width: 100%;
  max-width: 100%;
  border: .5rem solid #414141;
  border-radius: 20px;
  margin-top: -60px;
}
.profile-row{
  padding: 0 20px;
}
.profile-wrapper .form-group{
  margin-top: 1rem;
}
.profile-image-col{
  background: #f5f5f5;
  border-radius: 0 0 20px 20px;
  padding-bottom: 1.1rem;
}
.profile-wrapper .heading.divider{
  margin: 40px 0 0;
  background: #414141;
  color: #fff;
  padding: .5rem;
  border-radius: 5px;
  font-size: 16px;
}
.profile-image-updater{
  background: #414141;
  border-radius: 0 0 20px 20px;
  margin: -2rem 0 0;
  padding: 1rem;
  color: #fff;
  z-index: 0;
}
.profile-image{
  z-index: 1;
  position: relative;
}
.profile-tabs .nav{
  margin: 20px 0 0;
  justify-content: space-between;
}
.profile-tabs .nav-item{
  margin: 0 0 5px;
  background: #e9ecef;
  border: 1px solid #ced4da;
  color: #414141;
  max-width: 32%;
  padding: .2rem .5rem;
}
.profile-tabs.associated .nav-item{
  max-width: 49%;
}
.profile-tabs .nav-pills .nav-link.active,
.profile-tabs .nav-pills .show>.nav-link{
  background: #414141;
}
.profile-tabs-content{
  padding: 0 1rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

@media only screen and (max-width: 575px){
  .page-heading{
    font-size: 1.5rem;
    text-align: center;
  }
  .profile-wrapper .profile-image img{
    margin-top: 5px;
  }
  .profile-row,
  .profile-row > *,
  .profile-head .subhead > *{
    padding-left: 5px;
    padding-right: 5px;
  }
  .profile-wrapper{
    margin-top: 10px;
  }
  .button-set{
    float: none!important;
  }
  .button-set .btn{
    width: 100%;
  }
  .profile-detail-col > .row > *{
    padding-left: 0;
    padding-right: 0;
  }
} /* (max-width: 575px) */
@media only screen and (min-width: 767px) and (max-width: 1200px){
  .profile-wrapper .input-group-append{
    display: none !important;
  }
} /* (max-width: 767px) */

@media only screen and (max-width: 767px){
  #assoc-hide-tab-button{
    max-width: 34px;
  }
} /* (max-width: 767px) */


.assoc-list{
  margin-top: 1rem;
}
.assoc-list-link{
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
  background: #e9ecef;
  margin-bottom: 5px;
  color: #212529;
  font-weight: bold;
  border: 1px solid #ced4da;
}
.assoc-list-item:last-child .assoc-list-link{
  margin-bottom: 0;
}
.assoc-list-link:hover{
  text-decoration: none;
}

.notes-list{
  margin-top: 1rem;
}
.notes-list .notes-list-item{
  padding: 1rem;
  background: #f5f5f5;
  margin-bottom: 10px;
  display: block;
  border-radius: 5px;
}
.notes-list .notes-list-item:last-child{
  margin-bottom: 0;
}
.notes-list .author{
  display: inline-block;
}
.notes-list .text{
  line-height: 1.2em;
  display: block;
}
.notes-list .timeago{
  font-style: italic;
  font-size: .9em;
}
